<mat-toolbar class="header-toolbar" color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="row between-xs middle-xs header-row">
        <h1>Triple J</h1>
        <nav>
          <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
          <a mat-button routerLink="/mostrar" routerLinkActive="active">Mostrar Datos</a>
          <a mat-button routerLink="/agregar" routerLinkActive="active">Agregar Datos</a>
          <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
        </nav>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
