.body-main {
  background: #ffffff;
  border-bottom: 15px solid #1e1f23;
  border-top: 15px solid #1e1f23;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px !important;
  position: relative;
  box-shadow: 0 1px 21px #808080;
  font-size: 15px;
  text-align: center;
}

.table {
  font-size: 15px;
  width: 300px;
  margin: auto;
}

.main thead {
  background: #1e1f23;
  color: #fff;
}

.img {
  height: 100px;
}

h1 {
  text-align: center;
}
