<!--GRAND D-->
<div class="padre">
    <div *ngFor="let distri of this.distritos" class="divCliente" >
          <mat-card>
          <mat-card-header>
            <mat-card-title>{{ distri.nombre }}</mat-card-title>
            <mat-card-subtitle>{{'Código Distrito: ' + distri.codigo }}</mat-card-subtitle>
            <mat-card-subtitle>{{'Cantón: ' + distri.cantonNombre }}</mat-card-subtitle>
          </mat-card-header>
          <div class="crop-image">
            <img src="./../../../../assets/images/distrito.png" alt="">
          </div>
          
          </mat-card>
    </div>
  </div>
