<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/mostrar/sucursal"><mat-icon class="color">account_balance</mat-icon>Sucursales</a>
      <a mat-list-item routerLink="/mostrar/actividad"><mat-icon class="color"> local_activity</mat-icon>Actividades</a>
      
      <a mat-list-item routerLink="/mostrar/cliente"><mat-icon class="color">face</mat-icon>Clientes</a>
      <a mat-list-item routerLink="/mostrar/telefono"><mat-icon class="color"> contact_phone</mat-icon>Teléfonos</a>
      <a mat-list-item routerLink="/mostrar/direccion_cliente"><mat-icon class="color"> map</mat-icon>Direcciones</a>

      <a mat-list-item routerLink="/mostrar/factura"><mat-icon class="color"> format_align_left</mat-icon>Facturas</a>
      <a mat-list-item routerLink="/mostrar/notas_credito"><mat-icon class="color"> account_balance_wallet</mat-icon>Notas de Crédito</a>
      <a mat-list-item routerLink="/mostrar/notas_debito"><mat-icon class="color"> account_balance_wallet</mat-icon>Notas de Débito</a>
      <a mat-list-item routerLink="/mostrar/cuenta_x_cobrar"><mat-icon class="color"> collections_bookmark</mat-icon>Cuentas por Cobrar</a>
      <a mat-list-item routerLink="/mostrar/abono"><mat-icon class="color"> payment</mat-icon> Abonos </a>

      <a mat-list-item routerLink="/mostrar/auditoria"><mat-icon class="color">remove_red_eye</mat-icon>Auditorias </a>
      <a mat-list-item routerLink="/mostrar/auditor"><mat-icon class="color"> person_pin</mat-icon>Auditores</a>
      
      <a mat-list-item routerLink="/mostrar/moneda"><mat-icon class="color"> attach_money</mat-icon>Monedas</a>

      <a mat-list-item routerLink="/mostrar/provincia"><mat-icon class="color"> place</mat-icon>Provincias</a>
      <a mat-list-item routerLink="/mostrar/canton"><mat-icon class="color"> pin_drop</mat-icon>Cantones</a>
      <a mat-list-item routerLink="/mostrar/distrito"><mat-icon class="color"> person_pin_circle</mat-icon>Distritos</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container">
        <div class="row between-xs middle-xs header-row">
          <h1>Triple J</h1>
          <nav>
            <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
            <a mat-button routerLink="/mostrar" routerLinkActive="active">Mostrar Datos</a>
            <a mat-button routerLink="/agregar" routerLinkActive="active"
            >Agregar Datos</a>
            <a mat-button routerLink="/contact" routerLinkActive="active"
              >Contact</a>
          </nav>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
