<!--GRAND D-->
<div class="padre">
    <div *ngFor="let canto of this.cantones" class="divCliente" >
          <mat-card>
          <mat-card-header>
            <mat-card-title>{{ canto.nombre }}</mat-card-title>
            <mat-card-subtitle>{{'Código Cantón: ' + canto.codigo }}</mat-card-subtitle>
            <mat-card-subtitle>{{'Provincia: ' + canto.provinciaNombre }}</mat-card-subtitle>
          </mat-card-header>
          <div class="crop-image">
            <img src="./../../../../assets/images/cantones.png" alt="">
          </div>
          
          </mat-card>
    </div>
  </div>
