  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Crear un Cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" id="nombre">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Correo</mat-label>
            <input type="Correo" matInput id="correo" placeholder="Ex. juan@gmail.com">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-icon matSuffix>phone</mat-icon>
            <input matInput #phonenumber maxlength="12" placeholder="Teléfono" id="telefono">
            
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Dirección exacta" id="direccion"></textarea>
           
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput #cdis maxlength="3" placeholder="Código Distrito" type="number" id="codDistrito">
            
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #cedulaa maxlength="11" placeholder="Cédula" id="cedula">
            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #actividadd maxlength="3" placeholder="Código Actividad" type="number" id="actividad">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
      (click)="this.validacionBotton()"
      >Crear Cliente</button>
    </mat-card-actions>
  </mat-card>

