<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Agregar un Auditoria</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-icon matSuffix>F</mat-icon>
          <input matInput  maxlength="50" placeholder="Fecha de Creación" id="fechaCreacion">
        </mat-form-field>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput  maxlength="11" placeholder="Cédula del Auditor" id="idAuditor">          
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput  maxlength="11" placeholder="Código de Cuenta" id="codigoCuenta">          
        </mat-form-field>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit"
    (click)="this.validacionBotton()"
    >Crear Auditoria</button>
  </mat-card-actions>
</mat-card>