<form [formGroup]="clientForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Crear una Auditoria</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Cédula de Auditor" formControlName="nombre">
              <mat-error *ngIf="clientForm.controls['nombre'].hasError('required')">
                 Cedula is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Fecha Creacicón" formControlName="nombre">
                <mat-error *ngIf="clientForm.controls['nombre'].hasError('required')">
                   Nombre is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Código Cuenta" formControlName="nombre">
                <mat-error *ngIf="clientForm.controls['nombre'].hasError('required')">
                   Nombre is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
